{{<partials-fullwidth}}
{{$page-content}}
{{#beforeFields}}
   {{beforeFields}}
{{/beforeFields}}

{{#values}}
<h3>You can edit, view or cancel draft and submitted General Aviation Reports (GARs) depending on the status of the flight.</h3>
<h3>Search to find your GAR</h3>
<div class="search-wrapper">
    <input type="text" id="search" name="searchTerm" title="Search" value="{{searchTerm}}" class="search-element search-input js-class-toggle">
    <div class="search-element search-submit-wrapper">
        <button type="submit" name="search" value="search" class="search-submit">Search</button>
    </div>
</div>
{{/values}}

{{#fields}}

{{/fields}}
{{#afterFields}}
{{afterFields}}
{{/afterFields}}

{{#values}}

    <table class="egar-table">
        <thead>
        <caption>List of GARs</caption>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">GAR reference</th>
            <th scope="col">Submission reference</th>
            <th scope="col">Aircraft registration</th>
            <th scope="col">Departure date</th>
            <th scope="col">Departure time</th>
            <th scope="col">Departure ICAO</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#gars}}
        <tr>
            <td>{{state}}</td>
            <td>{{gar_uuid}}</td>
            <td>{{submission.external_ref}}</td>
            <td>{{aircraft.registration}}</td>
            <td>{{departure.date}}</td>
            <td>{{departure.time}}</td>
            <td>{{departure.ICAO}}</td>
            <td>
                {{#canEdit}}
                <button type="submit" name="edit-{{gar_uuid}}" value="{{gar_uuid}}" class="link-button">Edit </button><br/>
                {{/canEdit}}
                {{#canCancel}}
                <button type="submit" name="cancel-{{gar_uuid}}" value="{{gar_uuid}}" class="link-button">Cancel </button><br/>
                {{/canCancel}}
                <button type="submit" name="view-{{gar_uuid}}" value="{{gar_uuid}}" class="link-button">View </button>
            </td>
        </tr>
        {{/gars}}
    </tbody>
    <tfoot>
        {{#paging}}
        <tr>
            <td colspan="8" class="paging">
                    <p class="pagingText">{{pagingText}}</p>
                   <a href="{{url}}?{{queryString}}p={{previousPage}}">< Previous</a>
                {{#pages}}
                    <a href="{{url}}?{{queryString}}p={{pageNum}}">{{displayPageNum}}</a>
                {{/pages}}
                   <a href="{{url}}?{{queryString}}p={{nextPage}}">Next ></a>

            </td>
        </tr>
        {{/paging}}
    </tfoot>
      </table>


    {{/values}}

{{/page-content}}
{{/partials-fullwidth}}
