{{<govuk-template}}
  {{$head}}
    {{> partials-head}}
  {{/head}}
  {{$pageTitle}}
    {{$header}}{{/header}} &ndash; GOV.UK
  {{/pageTitle}}
  {{$headerClass}}with-proposition{{/headerClass}}
  {{$insideHeader}}{{/insideHeader}}
  {{$main}}
    <main class="main" role="main">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">{{#t}}journey.phase{{/t}}</strong>
          <span>This is a new service – your <a href="https://eforms.homeoffice.gov.uk/outreach/feedback.ofml">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      <span id="step">
        {{> partials-back}} <span>{{$step}}{{/step}}</span>
      </span>
      <div class="grid-row" id="content">         
          
          {{$content}}{{/content}}

        </div>       
     
      {{> partials-gatag}}
      <script type="text/javascript" src="{{assetPath}}/js/bundle.js"></script>
    </main>
  {{/main}}
  {{$cookieMessage}}
    <p>
      {{#t}}cookies.banner.message{{/t}}
      <a href="https://www.gov.uk/help/cookies">{{#t}}cookies.banner.link{{/t}}</a>
    </p>
  {{/cookieMessage}}
  {{$footerSupportLinks}}
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="https://www.gov.uk/help/">Help</a></li>
    <li><a href="https://www.gov.uk/help/cookies">Cookies</a></li>
    <li><a href="https://www.gov.uk/contact">Contact</a></li>
    <li><a href="https://www.gov.uk/help/terms-conditions">Terms and conditions</a></li>
    <li><a href="https://www.gov.uk/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
    <li>Built by <a href="https://www.civica.com/en-GB/civica-digital/">Civica Digital</a></li>
  </ul>
  {{/footerSupportLinks}}
{{/govuk-template}}
